@model Sneakers.Core.Data.ViewModels.ShoppingCartViewModel

<h2>Votre panier</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Quantité</th>
            <th>Sneaker</th>
            <th class="text-right">Prix</th>
            <th class="text-right">Sous total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-center">@item.Amount</td>
                <td class="text-left">@item.Sneaker.SneakerName</td>
                <td class="text-right">@item.Sneaker.Price.ToString("c")</td>
                <td class="text-right">@((item.Amount*item.Sneaker.Price).ToString("c"))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total</td>
            <td class="text-right">
                @Model.ShoppingCartTotal.ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-right">
    <a class="btn btn-outline-success btn-sm" asp-controller="Commande" asp-action="CreateCommande">Commander</a>
</div>